body {
    background-color: rgb(79, 79, 79); 
    color: white; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #444; /* Cor de fundo do cabeçalho */
    padding: 10px; /* Espaçamento interno do cabeçalho */
    width: 100%; /* Largura completa */
    position: sticky; /* Fixa o cabeçalho no topo ao rolar */
    top: 0; /* Cola o cabeçalho no topo */
    box-sizing: border-box; /* Inclui padding e border na largura e altura total */
}

.container-home,
.container-produto,
.container-cadastro,
.container-login,
.container-contato,
.container-sobre,
.container-recuperar-senha {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.home-header,
.product-header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.anun {
    text-align: center;
    margin-bottom: 20px;
}

.anun img {
    max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.produto-home,
.produto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto-item-home,
.produto-item {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.img {
    width: 100%;
    height: auto;
}

.div1 {
    padding: 10px;
}

.menu,
.footer-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.menu .prod {
    margin-right: auto; 
}

.menu li:not(.sob),
.footer-menu li {
    margin-left: 10px; 
}

.menu li a,
.footer-menu li a {
    color: white; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado */
    padding: 10px;
    display: block; /* Faz o link ocupar toda a área do item da lista */
}

.menu li a:hover,
.footer-menu li a:hover {
    color: #3498db; /* Cor dos links ao passar o mouse */
}

.footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    min-height: 100vh; 
}

.footer .copy {
    text-align: center; 
}

.container-login a[href="?p=rec"] {
    color: rgb(5, 146, 206); /* Define a cor azul apenas para o link "Recuperar Senha" */
}

.container-login a[href="?p=rec"]:hover {
    color: rgba(3, 137, 190, 0.737); /* Define um tom mais escuro para a cor do link "Recuperar Senha" quando o mouse passar sobre ele */
}

.container-cadastro,
.container-login,
.container-contato,
.container-recuperar-senha {
    background-color: #6f6f6f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.313);
    max-width: 400px;
    width: 100%;
    margin: 20px auto; 
}

.container-cadastro h1,
.container-login h1,
.container-contato h1,
.container-sobre h1,
.container-recuperar-senha h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container-cadastro label,
.container-login label,
.container-contato label,
.container-recuperar-senha label {
    display: block;
    margin-bottom: 5px;
}

.container-cadastro input[type="submit"],
.container-login input[type="submit"],
.container-contato button,
.container-recuperar-senha input[type="submit"] {
    background-color: #0bdb00c8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.container-cadastro input[type="submit"]:hover,
.container-login input[type="submit"]:hover,
.container-contato button:hover,
.container-recuperar-senha input[type="submit"]:hover {
    background-color: #3bc603ba;
}

.container-cadastro input[type="text"],
.container-cadastro input[type="email"],
.container-cadastro input[type="password"],
.container-login input[type="email"],
.container-login input[type="password"],
.container-recuperar-senha input[type="email"],
.container-recuperar-senha input[type="text"], /* Incluído o campo de CPF */
.container-contato input[type="text"],
.container-contato input[type="email"],
.container-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none; 
    border-bottom: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.818); 
    color: rgb(0, 0, 0); 
}

.container-cadastro input[type="text"]::placeholder,
.container-cadastro input[type="email"]::placeholder,
.container-cadastro input[type="password"]::placeholder,
.container-login input[type="email"]::placeholder,
.container-login input[type="password"]::placeholder,
.container-recuperar-senha input[type="email"]::placeholder,
.container-recuperar-senha input[type="text"]::placeholder, /* Incluído o campo de CPF */
.container-contato input[type="text"]::placeholder,
.container-contato input[type="email"]::placeholder,
.container-contato textarea::placeholder {
    color: rgb(56, 167, 0);
}

.container-cadastro input[type="text"]:focus,
.container-cadastro input[type="email"]:focus,
.container-cadastro input[type="password"]:focus,
.container-login input[type="email"]:focus,
.container-login input[type="password"]:focus,
.container-recuperar-senha input[type="email"]:focus,
.container-recuperar-senha input[type="text"]:focus, /* Incluído o campo de CPF */
.container-contato input[type="text"]:focus,
.container-contato input[type="email"]:focus,
.container-contato textarea:focus {
    outline: none;
    border-bottom: 3px solid #000000;
}

/* Estilo para o campo de data de nascimento */
.container-cadastro input[type="date"],
.container-recuperar-senha input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none; 
    border-bottom: 1px solid #b1b1b100; 
    border-radius: 5px; 
    box-sizing: border-box;
    background-color: rgba(177, 177, 177, 0.708); /* Alterado o fundo para cinza escuro */
    color: rgb(0, 0, 0); /* Alterado para preto */
}

.container-cadastro input[type="date"]::placeholder,
.container-recuperar-senha input[type="date"]::placeholder {
    color: white; /* Alterado para branco */
}

.container-cadastro input[type="date"]:focus,
.container-recuperar-senha input[type="date"]:focus {
    outline: none;
    border-bottom: 3px solid #000000;
}
